{% extends "layout.html" %}

{% block body %}
  <h3>Hakkımda</h3>
  <hr>
  Hakkımda Yazısı Nasıl Yazılır?
Süper kalitede bir hakkımda sayfası oluşturmak zaman alıcı bir iştir. Sadece telefonunuzdan çekmiş olduğunuz fotoğraf ve biyografi bilgisi ile bu sayfayı oluşturmanız pek doğru değildir. Bir hakkında sayfası oluştururken takip etmeniz gereken belli başlı adımlar vardır. Bu yazıda bunların hepsinden söz edilecektir. Blogunuz için son derece önemli olan bu sayfadan ekstra fayda sağlamak için kolları sıvayabilirsiniz.

1. Okuyucularınıza Kattığınız Değerler
Bu adım büyük bir adım ve bunu en başında hallederseniz sizin için çok iyi olacaktır. Hakkında sayfanız üzerinden okuyucularınıza sunmuş olduğunuz değeri aktarmaya çalışmalısınız. İnsanlar sizin hakkınızda bir şeyler öğrenmek ama aynı zamanda onlara nasıl yardımcı olacağınızı bilmek istemektedirler. Bu nedenle hakkında sayfanızı yazmaya başlamadan önce blogunuzun ne konuda kullanışlı olduğunu belirlemeniz gerekmektedir.

2. Hitap Ettiğiniz Kişiler
Hakkında sayfanızda gelişim sürecinizle ilgili çeşitli detaylara yer verebilirsiniz. Hakkınızda sayfanızı kim ziyaret ederse etsin onlara bu konuda bilgi vermelisiniz. Böylece blogunuzun okuyucular için olduğunu aktarmayı başarabilirsiniz. Blogunuzu kimler için oluşturduğunuzdan söz etmeli ve okuyucularınızla doğrudan bağlantı kurmaya çalışmalısınız. Blogunuzda tüm insanlara değil yazdığınız konularla ilgilenecek insanlara ulaşabileceğinizi aklınızdan çıkarmamalısınız.

3. Sitenizin Biyografisi
İdeal hedef kitlenize ulaşmak için şimdiye kadar birkaç cümle yazmış olmalısınız. Blog sahibi olan insanların büyük bir kısmı ilk olarak kendilerinden bahsederek giriş yapmaktadırlar. Potansiyel okuyucular ise daha çok blogunuz hakkında bilgi almak için çaba göstermektedirler. Çünkü blogunuzun onlara nasıl değer katacaklarını anlamak istemektedirler. Kişisel biyografinizden söz etmeden önce mutlaka sitenizin biyografisi kapsamında aşağıdaki sorulara cevap vermelisiniz:

Neden birisi sizin blogunuzu okumalı? “A, A ve A seviyorsanız doğru yerde olduğunuzu bilmelisiniz.” şeklinde bir cümle kurmalısınız. “A” yerine blogunuzun konusunu yazmalısınız.
Okuyucular yazılarınız sayesinde neler öğrenebilecekler? Son trendler konusunda bilgi mi vereceksiniz? Çeşitli iş tavsiyelerinde mi bulunacaksınız? Destekleyici yazılar mı yazacaksınız? Okuyucuların beklentilerinin oluşmasına yardımcı olmalısınız.
Ne tür yazılar yazacaksınız? İnsanların mutlaka bilmesi gereken bir seri mi oluşturacaksınız? Nereden başlamalılar?
Blogunuz neden güvenilir bir yer? Bu aslında isteğe bağlı bir şey. Oluşturduğunuz içerikler çok fazla paylaşım alıyorsa bunun sebebi hakkında konuşmalısınız. Okuyucularınıza bu konuda bilgi verip blogunuzda paylaşmaya değer pek çok farklı içerik bulabileceklerinden söz etmelisiniz.
Blogunuz yolculuğuna nasıl başladı? Bu konu hakkında yazarken kişiselleştirme yapmaktan kaçınmamalısınız. Blogunuz dünden bugüne nasıl gelişim gösterdi bunlardan söz etmelisiniz. Blogunuz hayatınızda kritik bir öneme sahipse bu aktarmayı denemelisiniz.
4. Kişisel Biyografiniz
Artık kendiniz hakkında konuşmaya başlayabilirsiniz. Kişisel biyografi kısmında hayatınız hakkında önemli bilgilere yer verebilirsiniz ama bunların blogunuz veya yaptığınız işle alakası olması gerekmektedir. Kendi hakkınızda yüzlerce farklı bilgi paylaşmayı falan denemeye çalışmamalısınız. Paylaştığınız her yaptığınız iş hakkında olmalıdır.

Hakkında sayfanızı bir tür röportaj veya bir iş görüşmesinde gibi düşünebilirsiniz. Ancak her fırsatta blogunuzun hayatınıza katkısı hakkında bir şeyler söylemelisiniz. Nasıl başladınız? Neden blogunuzu seviyorsunuz? Bu gibi sorulara cevaplar vermelisiniz.

Dilerseniz bu sayfada bazı rastgele ama alakalı bilgilere yer verebilirsiniz. Bunlar hakkında sayfasının okunurluğunu yükseltmektedir. Yaşadığınız şehir, hobileriniz ve sizinle alakalı olan ama hedef kitleniz ile bağlantı kurmanızı sağlayacak her türlü bilgiyi burada değerlendirebilirsiniz. Tek dikkat etmeniz gereken nokta sadece bu bilgilerden oluşan bir hakkında sayfası oluşturmamaktır.

Okumalısın:  Blog Adresinize Zarar Verebilecek Hatalar
5. Harekete Geçirici Mesaj
Hakkında kısmında yer vermeniz gereken en önemli unsur harekete geçirici mesajdır. Çoğu insan hakkında sayfasında bir harekete geçirici mesaja yer vermemektedir. Harekete geçirici mesaj blogunuzun okuyucularını bir şeyler yapmaya teşvik edecek mesajlardır.
  <hr>
{% endblock body %}